.card{
    .info-hover{
        background: rgba(23, 219, 255, .8);
        display: none;
        height: 265px;
        .buy-icon-white{
            position: absolute;
            right: 0;
            padding: 7px;
        }
        .cost{
            font-size: 30px;
            margin-left: 35px; 
            color: white;
            img{
                padding-top: 5px;
                margin-top: 90px;
            }
        }
        .chip-buy{
            background-color: white !important; 
            margin-left: 40px !important; 
            span{
                cursor: pointer;
                margin: auto;
                display: flex;
                width: 200px;
                height: 40px;
                align-items: center;
                justify-content: center;
                color: #424242 !important;
            }     
        }
    }

    :hover > .info-hover {
            display: block;
            -webkit-animation: slide-down .3s ease-out;
            -moz-animation: slide-down .3s ease-out;
        }
        @-webkit-keyframes slide-down {
            0% { opacity: 0; -webkit-transform: translateY(-10%); }   
            100% { opacity: 1; -webkit-transform: translateY(0); }
        }
        @-moz-keyframes slide-down {
            0% { opacity: 0; -moz-transform: translateY(-10%); }   
            100% { opacity: 1; -moz-transform: translateY(0); }
        }

    position: relative;
    height: 265px;
        .img-product{
            margin-top: 0;
            position: absolute ;
            top: 0;
            left: 15px;
            z-index: -10;
            border-bottom: 1px solid lightgrey;
            
        }
        .buy-icon{
            display: flex;
            justify-content: flex-end;
            padding: 7px;
        }
        :hover > .buy-icon {
            display: none;
        }
        .need-coin{
            display: flex;
            justify-content: flex-end;
            z-index: 10;
            padding: 7px;
            .chip-info{
                background-color: rgba(0, 0, 0, .7) !important;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white !important;
                    img{
                        margin: 3px;
                    }
                }     
            }
        }
        .info{
            position: absolute;
            bottom: 20px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            .category{
                color: lightgrey;
                font-size: 12px;
                margin: 2px 0 2px 10px;
            }
            .name{
                color: #616161;
                font-size: 17px;
                margin: 2px 0 2px 10px;
            }
        }
    }

