.product-card .card {
  background: #fff; }
  .product-card .card .buy-icon {
    display: flex;
    justify-content: flex-end; }
  .product-card .card .need-coin {
    display: flex;
    justify-content: flex-end; }
    .product-card .card .need-coin spam {
      display: flex;
      border-radius: 20%;
      flex-direction: row;
      background: rgba(0, 0, 0, 0.3);
      width: 50%; }
  .product-card .card .info .category {
    color: lightgrey;
    font-size: 15px; }
  .product-card .card .info .name {
    color: black;
    font-size: 20px; }
  .product-card .card :hover {
    background: #17dbff; }
