.product-card{
    .card{
        :hover{
            background: blue;
        }
        background: #fff;
        .card-content{
            padding-top: 10px;
        }
        .buy-icon{
            display: flex;
            justify-content: flex-end;
        }
        .need-coin{
            display: flex;
            justify-content: flex-end;
            z-index: 10;
            spam{
                display: flex;
                border-radius: 20%; 
                flex-direction: row;
                background: rgba(0, 0, 0, .3);
                width: 70%;
            }
        }
        .info{
            .category{
                color: lightgrey;
                font-size: 15px;
            }
            .name{
                color: black;
                font-size: 20px;
            }
        }
    }
}
