.filter {
  margin: 5px auto 5px auto;
  border-bottom: 1px solid lightgrey;
  height: 45px;
  width: 90%; }
  .filter .filter-category {
    flex-basis: 35%;
    max-width: 35%; }
  .filter .col-xs-1 {
    flex-basis: 12%;
    max-width: 12%; }
  .filter .quantity-products {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid lightgrey;
    height: 35px;
    color: #616161; }
  .filter .sort-by {
    display: flex;
    flex-direction: row;
    height: 35px;
    align-items: center; }
    .filter .sort-by .active {
      background-color: #17dbff !important; }
      .filter .sort-by .active span {
        color: white !important; }
    .filter .sort-by .desactive span {
      color: gray !important; }
    .filter .sort-by .text {
      color: gray;
      margin-right: 15px; }
    .filter .sort-by .chip-filter {
      margin-right: 7px !important; }
