.footer {
  margin: 5px auto 10px auto;
  border-bottom: 1px solid lightgrey;
  height: 45px;
  width: 90%; }
  .footer .quantity-products .text-products {
    color: #616161; }
  .footer .btn-pagination-footer {
    display: flex;
    padding-right: 50px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; }
