.text-confirmation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .confirmation{
      font-size: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; 
      .info{
          display: flex;
          flex-direction: column;
          .coint{
              display: flex;
              align-items: center;
          }
      }
  }